<h1>Edit Post</h1>

<ul>  

<li>Post id = @post.id</li>

<%= form_for @post, :url => { :action => "update" }, :html => {:method => "put",:class => "edit_post"} do |f| %>
     <p><%= f.label :title %></p>
     <p><%= f.text_field :title %></p>
     <p><%= f.label :body %></p>
     <p><%= f.text_area :body %></p>
     <p><%= f.submit "Post" %></p>
     
     <p><%= link_to "Back", posts_path(@post) %></p>
<% end %>

</ul>
