<h1>Visualiser le post : <%= @post.title %></h1>

<ul>  


     <p><%= flash[:error] %></p>
     
     <div>
     <p><%= @post.body %></p> <%= link_to "Editer", edit_post_path(@post) , :remote => true %> <%= link_to "Supprimer" , post_path(@post), :method => "delete", :confirm => "Etes-vous sûr?" , :remote => true %> <%= link_to "Commenter" , new_post_comment_path(@post) %> <%= link_to "Retour", posts_path %>
     </div>
     
     <p></p>
     <p></p>
     <p></p>
     <p></p>
     
     <p>
            <% @post.comments.each do |comment| %>
        Commentaires :
             <div>
             <p><b>Auteur :</b> <%= comment.author %></p>
             <p><b>Contenu :</b> <%= comment.body %> <%= link_to "Supprimer",post_comment_path(comment),:method => "delete",:confirm => 'Etes-vous sûr?' %></p>
              </div>
             <p></p>
            <% end %>
     </p>
     
</ul>

