<h1>Post Show</h1>

<ul>  

<li>Post id = @post.id</li>

     <p>Titre : <%= @post.title %></p>
     
     <p>Corps : <%= @post.body %></p>
     
     
     <p><%= link_to "Edit", edit_post_path(@post) %></p>
     <p><%= link_to "Delete" , post_path(@post), :method => "delete", :confirm => "Are you sure?" %></p>
     <p><%= link_to "Back", posts_path %></p>
     
</ul>

